<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <link rel="stylesheet" href="view.css">
    <link rel="stylesheet" href="../header.css">
    <link rel="stylesheet" href="../footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="./view.js" defer></script>
</head>

<body>
    <header>
        <div class="menu">
            <div class="menuTop">
                <div class="topLeft">
                    <ul>
                        <li>Kênh Người Bán</li>
                        <li>Trở thành Người bán Shopee</li>
                        <li>Tải ứng dụng</li>
                        <li>Kết nối</li>
                        <div class="connectIcon">
                            <i class="fab fa-facebook"></i>
                            <i class="fab fa-instagram"></i>
                        </div>
                    </ul>
                </div>

                <div class="topRight">
                    <div class="link">
                        <i class="far fa-bell"></i>
                        <span>Thông báo</span>
                    </div>
                    <div class="link">
                        <i class="far fa-question-circle"></i>
                        <span>Hỗ trợ</span>
                    </div>
                    <div>
                        <a href="" class="link">Đăng ký</a>
                        <a href="" class="link">Đăng nhập</a>
                    </div>
                </div>
            </div>

            <div class="menuBottom">
                <img src="../images/home.png" alt="">
                <div>
                    <div class="inputBox">
                        <input type="text" placeholder="PERFECT DIARY - MUA 2 GIẢM 50%">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                    <div class="quickNav">
                        <a href="">Chân váy</a>
                        <a href="">Chân váy</a>
                        <a href="">Chân váy</a>
                        <a href="">Chân váy</a>
                        <a href="">Chân váy</a>
                    </div>
                </div>
                <i class="fas fa-shopping-cart" id="cart"></i>
                <i class="fas fa-user" id="user"></i>
            </div>
        </div>
    </header>

    <section class="container">
        <div class="productDetail">
            <!-- <div class="left">
                <div class="image">
                    <img src="https://cf.shopee.vn/file/9735f09fcb76e4d6f604592071785929_tn" alt="">
                    <div class="slider hidden">
                        <img src="https://cf.shopee.vn/file/9735f09fcb76e4d6f604592071785929_tn" alt="">
                        <img src="https://cf.shopee.vn/file/9735f09fcb76e4d6f604592071785929_tn" alt="">
                        <img src="https://cf.shopee.vn/file/9735f09fcb76e4d6f604592071785929_tn" alt="">
                        <img src="https://cf.shopee.vn/file/9735f09fcb76e4d6f604592071785929_tn" alt="">
                        <img src="https://cf.shopee.vn/file/9735f09fcb76e4d6f604592071785929_tn" alt="">
                    </div>
                </div>
            </div>

            <div class="right">
                <p class="title">
                    Mô hình nhân vật cử động đa khớp, McFarlane Toys DC Multiverse Justice League Batman Action
                    Figure
                </p>

                <div class="rating">
                    <div class="saleNo"><strong>234</strong> <span>Đã bán</span></div>
                    <div class="likeNo">Đã thích (195)</div>
                </div>

                <div class="price">
                    <span>đ1.099.000</span>
                </div>

                <div class="buy">
                    <div class="shipInfo">
                        <span>Vận chuyển</span>
                        <div class="freeShip">
                            <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/1cdd37339544d858f4d0ade5723cd477.png"
                                alt="">
                            Miễn phí vận chuyển
                        </div>
                    </div>

                    <div class="quantity">
                        <span>Số lượng</span>
                        <div class="inputBox">
                            <button>-</button>
                            <input type="text" value="1">
                            <button>+</button>
                        </div>
                        <span class="qLeft">762 sản phẩm có sẵn</span>
                    </div>

                    <div class="buttonGr">
                        <button class="btn-add">Thêm Vào Giỏ Hàng</button>
                        <button class="btn-buy">Mua Ngay</button>
                    </div>
                </div>
            </div> -->
        </div>

        <div class="productDesc">
            <div class="title">
                MÔ TẢ SẢN PHẨM
            </div>

            <div class="desc">
                <span>Mô hình nhân vật cử động đa khớp, McFarlane Toys DC Multiverse Justice League Batman Action
                    Figure
                    Hàng new full box, Sản phẩm nhập khẩu
                    Sản phẩm độc đáo không thể thiếu cho người sưu tầm DC comic</span>
            </div>
        </div>
    </section>

    <footer>
        <div id="cskh">
            <p> Chăm sóc khách hàng </p>
            <a href="">Trung tâm trợ giúp</a>
            <a href="">Shopee Blog</a>
            <a href="">Shopee Mall</a>
            <a href="">Hướng dẫn mua hàng</a>
            <a href="">Hướng dẫn bán hàng</a>
            <a href="">Thanh toán</a>
            <a href="">Shopee xu</a>
            <a href="">Vận chuyển</a>
            <a href="">Trả hàng & Hoàn tiền</a>
            <a href="">Chăm sóc khách hàng</a>
            <a href="">Chính sách bảo hành</a>
        </div>

        <div id="ve-shopee">
            <p>Về Shopee</p>
            <a href="">Giới thiệu về Shopee Việt Nam</a>
            <a href="">Tuyển dụng</a>
            <a href="">Điều khoản Shopee</a>
            <a href="">Chính sách bảo mật</a>
            <a href="">Chính hãng</a>
            <a href="">Kênh người bán</a>
            <a href="">Flash Sales</a>
            <a href="">Chương trình tiếp thị liên kết Shopee</a>
            <a href="">Liên hệ với truyền thông</a>
        </div>


        <div>

            <div id="thanh-toan">
                <p>Thanh toán</p>
                <div id="thanh-toan-icon">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/Visa_Inc._logo.svg/2560px-Visa_Inc._logo.svg.png"
                        id="visa">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Mastercard-logo.svg/2560px-Mastercard-logo.svg.png"
                        id="master">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/40/JCB_logo.svg/2560px-JCB_logo.svg.png"
                        id="jcb">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/American_Express_logo_%282018%29.svg/1200px-American_Express_logo_%282018%29.svg.png"
                        id="ae">
                    <img src="https://www.techcombank.com.vn/file/get/22022" id="shoppay">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </div>

            <div id="dvvc">
                <p>Đơn vị vận chuyển</p>
                <div id="dvvc-icon">
                    <img src="https://cf.shopee.sg/file/3fa2aa9a8653313af4f70898dc85e5c3" alt="">
                    <img src="https://eb2b.vn/wp-content/uploads/2019/11/logo_giaohangtietkiem_background_transparent_1575191917_1576485055.png"
                        alt="">
                    <img src="http://file.hstatic.net/1000376681/article/logo_36c2e5e66cac4fdb8f740926fbaa2d98_421c025ff9a74287ac0e1b377916cf64.png"
                        alt="">
                    <img src="https://viettelpost.com.vn/wp-content/uploads/2019/05/logonew.png" alt="">
                    <img src="https://brandlogovector.com/wp-content/uploads/2020/08/Vietnam-Post-Logo-Small.png"
                        alt="">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/35/Logo_J%26T_Merah_Square.jpg" alt="">
                    <img src="https://www.tiendauroi.com/wp-content/uploads/2020/02/Grab-express.png" alt="">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/5/5d/Ninjavan.svg" alt="">
                    <img src="" alt="">
                </div>
            </div>
        </div>


        <div id="follow">
            <p>Theo dõi chúng tôi trên</p>
            <div id="mxh">
                <div id="facebook"><a href="https://facebook.com/ShopeeVN"><img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png">
                        Facebook</a></div>
                <div id="instagram"><a href="https://www.instagram.com/shopee_vn/?hl=en"><img
                            src="https://www.jaspersomsen.com/wp-spullies/uploads/2017/03/instagram-Logo-PNG-Transparent-Background-download.png">
                        Instagram</a></div>
                <div id="linkedin"><a href="https://www.linkedin.com/company/shopee"><img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png">
                        LinkedIn</a></div>
            </div>
        </div>
        <div>
            <p>Tải ứng dụng Shopee ngay thôi</p>
        </div>

    </footer>
</body>

</html>